#intro
{
  background:url('images/def8.jpg') fixed;
  background-size: cover;

  height: 650px;
}

#intro .row
{
  margin-top: 4%
}

#intro .box{
  
  color: white;
}

#intro .box h3
{
  margin-top: 22%;
  margin-left: 11%;
  font-family: "adobe-garamond-pro";
  font-size: 24px;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
}

#intro .box h1
{
  margin-left: 2%;
  display: block;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 70px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: normal;
}

#intro .box button
{
    margin-top: 4%;
      margin-left: 24%;
}

/*-------------------------------------------------------------------------------------------------------------------*/

#background h2
{
  font-family: "proxima-nova";
    padding-top: 75px;
  padding-bottom: 17px;
 
}
#background p
{
  font-family: "proxima-nova";
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  padding-right: 345px;
  padding-left: 356px;
  padding-bottom: 75px;
}

/*------------------------------------------------------------------------------------------------------------------*/

#ava h1
{
  padding-left: 37%;
}
#ava
{
  margin-top: 4%;
  opacity: 0.6;
}

#avatar
{
  background:url('images/ghi5.jpg') fixed;
  background-size: cover;
  height: 850px;
}

#avatar .box
{
  color: white;
}

#avatar .row
{
  padding-top: 6%;
  padding-left: 14%;
  padding-right: 14%;
}

i
{
  color: white;
  
}

#ava .fa-5x
{
  color: black;
}

/*----------------------------------------------------------------------------------------------------------------*/

#fun-facts h2
{
  font-family: "proxima-nova";
    padding-top: 75px;
  padding-bottom: 17px;
 
}

#fun-facts p
{
  font-family: "proxima-nova";
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  padding-right: 345px;
  padding-left: 356px;
  padding-bottom: 75px;
}
#fun-facts hr
{
  background-color: black;
    height: 1px;
    width: 90px;
}
#extra-curricular h2
{
  font-family: "proxima-nova";
    padding-top: 75px;
  padding-bottom: 17px;
 
}

#extra-curricular p
{
  font-family: "proxima-nova";
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  padding-right: 345px;
  padding-left: 356px;
  padding-bottom: 83px;
}

/*--------------------------------------------------------------------------------------------------------------*/

#key-attributes .row
{
  margin-top: 4%
}

#key-attributes .box{
  
  color: white;
}

#key-attributes
{
  background:url('images/def7.jpg') fixed;
  background-size: cover;

  height: 370px;
}

#key-attributes .box h3
{
  margin-top: 10%;
  margin-left: 19%;
  font-family: "adobe-garamond-pro";
  font-size: 24px;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
}

#key-attributes .box h1
{
  margin-left: -19%;
  display: block;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 70px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: normal;
}

#key
{
  padding-top: 120px;
}
#key .row
{
  padding-top: 0px;
}

#key .box
{
  background-color: black;
  color: white;
  
}

#key .fa-3x
{
  padding-top: 40px;
}

#key p
{
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  opacity: 0.8;
}

.col2
{
    margin-left: -21px;
}
